.home{
    //background-color: beige;
    background-color: $color__background-body;
    padding: 30px;
}

.article{
    display:flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
}

.carte{
    display:flex;
    flex-direction: column;
    border: 1px solid 1px;
    width: 20%;
    padding: 10px;
}

.carte__titre{
    font-size: 1.5rem;
    color: #777;
}

.carte__contenu{
    font-size: .8rem;
    color: #beb0b0;
}