/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 93%);
$color__background-main : hsl(0, 0%, 87%);
$color__background-cours : hsl(128, 100%, 91%);
$color__background-header : hsl(240, 1%, 37%);
$color__background-barre : hsl(240, 1%, 37%);
$color__background-footer : #2e3440;
$color__background-link : #2e3440;
$color__background-link-hover : #2e3440;
$color__background-404: #fff;

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 100%, 50%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(123, 80%, 49%);
$color__link__footer-visited : hsl(231, 84%, 50%);


/* ---------------- FONT */
$color__font-header : rgb(231, 123, 35);
$color__font-main :rgb(68, 57, 54);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(194, 194, 194);