$font__main : 'Ubuntu Mono', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font__titre : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$police__h1 : 'Palette Mosaic', 'sans-serif';
$police__h4 : 'Montserrat', 'sans-serif';
