$color__background-body: rgb(255, 255, 255);
$color__background-main: darkgrey;
$color__background-header: #830c0c;
$color__background-barre: #d3bed3;
$color__background-footer: rgb(15, 15, 15);
// liens
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$background__link-hover:#aaa;