#chk-burger{
    display: none;
}

#burger{
    display: block;
    position: absolute;
    transform: rotate(0deg);
    transition: transform .3s;
}

.bouton-burger{
    display: none;
}

#chk-burger:checked ~ #burger{
    transform: rotate(90deg);
}

#chk-burger:checked ~ .menu-principal-container{
    display:block;
}

.menu-principal-container{
    display:none;
    padding:30px 0 0 0;
    .menu{
        list-style: none;
        margin: 0;
    }
    .menu-item{
        a{
            padding:5px;
            text-decoration: none;
            font-family: $font__navigation-a;
            &:hover{
                background-color: $background__link-hover;
            }
        }
    }
}

@media screen and (min-width: $largeur__media-tablette){
    .menu-principal-container{
        display:block;
    }
    .bouton-burger, #burger{
        display:none;
    }
}