.navigation__ecole {
    // background-color: #3e4758;
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    @media screen and (min-width: $largeur__media--tablette){
        flex-flow: row nowrap;
        justify-content: space-between;
        &__menu{
            // margin-left: auto;
            // margin-right: auto;
            ul{
                margin-bottom: 0px;
            }
        }
    }
    max-width: 70vw;
    // gap:40px;
    &__menu ul{
        margin-bottom: 5px;
        display:flex;
        flex-flow: column nowrap;
        box-shadow: 2px 2px 0 $color__background-body-clip;
        li{
            width: 300px;
        }
    }
}

.navigation__ateliers{
    width: 100%;
    &__menu ul{
        max-width: 70vw;
        display:flex;
        flex-flow: row wrap;  
        justify-content: space-between; 
        .react a{
            .menu-item-icone{
                background: url("https://s2.svgbox.net/files.svg?ic=reactjs");
            }
        }
        .wp a{
            .menu-item-icone{
                background: url("https://s2.svgbox.net/files.svg?ic=css");
            }
        }
        .assembly a{
            .menu-item-icone{
                background: url("https://s2.svgbox.net/files.svg?ic=html");
            }
        }
        .python a{
            .menu-item-icone{
                background: url("https://s2.svgbox.net/files.svg?ic=git");
            }
        }

        li{
            background-color: $color__background-link;
            width: 200px;
            box-shadow: 2px 2px 0 $color__background-body-clip;
            transform: translateX(80vw);
            @for $i from 1 through 5{
                &:nth-of-type(#{$i}){
                    animation: animation-navigation-ateliers 2s forwards;
                    animation-delay: #{$i*1s};
                }
            }
            a { 
                text-align:center;
                .menu-item{
                    &-description{
                        font-size: 1rem;
                        color: rgb(199, 199, 199);
                    }
                    &-icone{
                        z-index: 20;
                        height: 100px;
                        background-repeat: no-repeat;
                        width: 50%;
                        margin: auto auto;
                    }
                }
            }
        }
    }
}

@keyframes animation-navigation-ateliers{
    from{transform: translateX(80vw)}
    to{transform: translateX(0)}
}