.site {
    background-color: $color__background-body;
    gap:10px;
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.site__header{
    grid-area:header;
    background-color: $color__background-header;
}
.site__barre{
    grid-area: sidebar;
    background-color:  $color__background-barre;
}
.site__main{
    grid-area:main;
    background-color:  $color__background-main;
}
.site__footer{
    grid-area:footer;
    background-color:  $color__background-footer;
    padding-bottom: 5%;
}

.main__titre, .site__barre > nav, .header__principal, .header__secondaire{
    margin-left: 15px;
    margin-top: 15px;
}

.site__header, .site__barre, .site__main, .site__footer{
    box-shadow: 5px 5px 10px rgba(109, 95, 95, 0.637);
}