// Le parent de la boite__modale est la balise body
.boite__modale {
    position: fixed;
    width:50%;
    min-height:50%;
    max-height:90%;
    top:25%;
    left:25%;
    background-color:rgb(78, 78, 78);
    border:5px solid $color__background-cours;
    color:white;
    border-radius:20px;
    z-index:10;
    transition:1s ease-in-out;
    &--fermer{
        transform: scale(0);
    }
    &--ouvert{
        transform: scale(1);
    }
    &__fermer{
        position:absolute;
        z-index: 15;
        // width: 25px;
    }
    .caroussel__fermer{
        right:10px;
        top:10px;
    }
    &__texte{
        margin:5px;
        overflow: hidden;
    }
    &__img{
        z-index: -1;
        position : absolute;
        object-fit:cover;
        width : 100%;
        height: 100%;
        top :0;
        right: 0;
        border-radius: 20px;
    }
    .boite__carrousel__navigation{
        position: absolute;
        bottom:0;
        z-index:15;
        background-color: rgba(92, 106, 121, 0.651);
        border-radius: 25px 25px 20px 20px;
        padding: 5px;
        @media screen and (min-width: $largeur__media--tablette){
            margin-left:15px;
            padding-right:30px;
            border-radius: 25px 25px 0 0;
        }
        & button{
            margin-left: 5px;
            @media screen and (min-width: $largeur__media--tablette) {
                margin-left:35px;
            }
            width: 30px;
            height: 30px;
            box-shadow:2px 2px 0 red;
            border-radius: 100%;
            // text-align: center;
            // z-index: 20;
            &:focus {
                background-color: black;
            }
        }
    }
}