// Le parent de la boite__modale est la balise body
.boite__modale {
    position: fixed;
    width:50%;
    min-height:50%;
    max-height:90%;
    top:25%;
    left:25%;
    background-color:rgb(78, 78, 78);
    border:5px solid $color__background-cours;
    color:white;
    border-radius:20px;
    z-index:10;
    transition:1s ease-in-out;
    &--fermer{
        transform: scale(0);
    }
    &--ouvert{
        transform: scale(1);
    }
    &__fermer{
        position:absolute;
        right:10px;
        bottom:10px;
        z-index: 5;
    }
    &__texte{
        margin:5px;
        overflow: hidden;
    }
    &__img{
        z-index: -1;
        position : absolute;
        object-fit:cover;
        width : 100%;
        height: 100%;
        top :0;
        right: 0;
    }
    .boite__carrousel__navigation{
        position: absolute;
            bottom:0;
        // position: relative;
        // bottom:0;
        z-index:15;
        background-color: rgba(92, 106, 121, 0.651);
        border-radius: 25px 25px 0 0;
        padding: 5px;
        margin-left:15px;
        padding-right:30px;
        button{
            margin-left:35px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            // z-index: 20;
            &:focus {
                background-color: black;
            }
        }
    }
}