// Le parent de la boite__modale est la balise body
.boite__modale {
    position: fixed;
    width:50%;
    min-height:50%;
    max-height:90%;
    top:25%;
    left:25%;
    background-color:rgb(78, 78, 78);
    border:5px solid $color__background-cours;
    color:white;
    border-radius:20px;
    z-index:10;
    // transform: scale(0);
    transition:1s ease-in-out;
    &--fermer{
        transform: scale(0);
    }
    &--ouvert{
        transform: scale(1);
    }
    &__fermer{
        position:absolute;
        right:10px;
        bottom:10px;
    }
    &__texte{
        margin:5px;
    }
}