.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;
    display:flex;
    align-items:center;
    flex-flow: column nowrap;
    &__titre{
      display:flex;
      align-items:center;
    }
    @media screen and (min-width:$largeur__media--tablette){
      flex-flow: row nowrap;
    }

    .util{
      // display: none;
      @media screen and (min-width:$largeur__media--tablette){
        display:flex;
        margin-left:auto;
        flex-flow: column nowrap;
      }
      .widget_block ul{
        display:flex;
        justify-content: space-around;
      }
    }
    .header__titre {
      font-size: 2.5em;
      font-family: $font__titre;
    }
    .header__description {
      font-size: 0.8rem;
      font-family: $font__main;
      @media screen and (min-width:$largeur__media--tablette){
        font-size: 1.2rem;
      }
    }
    &__menu{
      display:flex;
    }
}