.main__single-post{
    padding: 2rem;
}

.cours {
    &__titre{
        color:purple;
        }
        section{
            display:flex;
            flex-flow: nowrap row;
            img{
                padding: 5px;
                border: solid white 1px;
                border-radius:5px;
            }
            p{
                // padding: 0 5rem;
                padding-right:30px;
                margin-right:20px;
                border-right:solid white 3px;
            }
    }
}