.main__single-post{
    padding: 2rem;
}

.cours {
    &__titre{
        color:purple;
        section{
            img{

            }
            p{
                padding: 0 5rem;
            }
        }
    }
}