.atelier{
    &__temps{
        background-color: darkgrey;
        width:80%;
        margin-left: 10px;
        padding: 10px;
        border-radius: 15px;
        border: purple solid 2px;
    }
}

.texte__atelier{
    font-style: italic;
    white-space: nowrap;
    width:auto;
    // text-decoration: underline;
    color:purple;
}
.atelier{
    white-space: nowrap
}
